<div class="hero">

  <div class="main-box">

    <div class="form-box">

      <!-- ================================= -->
      <!-- FONDO QUE CAMBIA ENTRE FORMULARIOS -->
      <!-- ================================= -->

      <div
        class="after"
        [class.register-mode]="isRegister">
      </div>


      <!-- ================================= -->
      <!-- BOTONES LOGIN / REGISTER -->
      <!-- ================================= -->

      <div class="button-box">

        <div
          class="btn"
          [class.register-mode]="isRegister">
        </div>


        <button
          type="button"
          class="toggle-btn"
          [class.active]="!isRegister"
          (click)="login()">

          Log in

        </button>


        <button
          type="button"
          class="toggle-btn"
          [class.active]="isRegister"
          (click)="register()">

          Register

        </button>

      </div>


      <!-- ================================= -->
      <!-- REDES SOCIALES -->
      <!-- ================================= -->

      <div class="social-icons">

        <a
          class="icon-link"
          href="#"
          aria-label="Facebook">

          <i class="fab fa-facebook cont-icon"></i>

        </a>


        <a
          class="icon-link"
          href="#"
          aria-label="Instagram">

          <i class="fab fa-instagram cont-icon"></i>

        </a>


        <a
          class="icon-link"
          href="#"
          aria-label="GitHub">

          <i class="fab fa-github cont-icon"></i>

        </a>

      </div>


      <!-- ================================= -->
      <!-- FORMULARIO LOGIN -->
      <!-- ================================= -->

      <form
        class="input-group login-form"
        [class.hidden]="isRegister"
        (ngSubmit)="onLogin()">

        <input
          type="text"
          class="input-field"
          placeholder="User"
          [(ngModel)]="loginData.username"
          name="loginUsername"
          required
        />


        <input
          type="password"
          class="input-field"
          placeholder="Password"
          [(ngModel)]="loginData.password"
          name="loginPassword"
          required
        />


        <input
          type="submit"
          class="submit-btn"
          value="Log in"
        />

      </form>


      <!-- ================================= -->
      <!-- FORMULARIO REGISTER -->
      <!-- ================================= -->

      <form
        class="input-group register-form"
        [class.active]="isRegister"
        (ngSubmit)="onRegister()">

        <input
          type="text"
          class="input-field"
          placeholder="User"
          [(ngModel)]="registerData.username"
          name="registerUsername"
          required
        />


        <input
          type="email"
          class="input-field"
          placeholder="Email"
          [(ngModel)]="registerData.email"
          name="registerEmail"
          required
        />


        <input
          type="password"
          class="input-field"
          placeholder="Password"
          [(ngModel)]="registerData.password"
          name="registerPassword"
          required
        />


        <input
          type="submit"
          class="submit-btn"
          value="Register"
        />

      </form>

    </div>


    <!-- ================================= -->
    <!-- BORDES ANIMADOS -->
    <!-- ================================= -->

    <span class="sp sp-t"></span>
    <span class="sp sp-r"></span>
    <span class="sp sp-b"></span>
    <span class="sp sp-l"></span>

  </div>

</div>